.navigation {
  border-bottom: 1px solid var(--grayish-blue);
}

.links-list {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-list li a {
  letter-spacing: 1px;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.7s;
}

.links-list li a:hover {
  color: var(--very-light-magenta);
}
