.posts-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  min-width: 200px;
  overflow: hidden;
}

.post {
  width: 100%;
  max-height: 700px;
  margin-bottom: 20px;
  overflow: hidden;
}

.post-image {
  margin: auto;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  padding: 10px 0px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.profile-image {
  max-height: 100%;
}

.post-container img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .post {
    margin-bottom: 40px;
  }
}
