.posts-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 55%;
  min-width: 220px;
  margin-top: 100px;
}

.post {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.39);
  border-radius: 12px;
  background-color: var(--white);
}

.post-image {
  margin: auto;
  width: 100%;
  max-height: 700px;
}

.info {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 12px;
  height: 100%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.profile-image {
  max-height: 100%;
}

.post-container img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .post {
    margin-bottom: 40px;
  }
}
