.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}

.page-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 770px;
  border-radius: 0 0 50% 50%;
  transform: translateX(-232px);
  background: linear-gradient(var(--light-magenta), var(--light-violet));
  z-index: -100;
}

.form-wrapper {
  width: 100%;
  padding: 22px;
  border: 1px solid var(--grayish-blue);
  box-shadow: 0px 0px 10px -4px rgba(66, 68, 90, 1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
}

.form-wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
}

h1 {
  line-height: 2;
}

button {
  padding: 10px;
  color: var(--white);
  border: none;
  background-color: var(--light-violet);
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.7;
}

@media (min-width: 1024px) {
  .page-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    top: 15%;
    width: 580px;
    background-color: hsl(270, 20%, 94%);
    border-radius: 60% 60% 0 0;
    transform: translateX(200px);
    z-index: -100;
  }
}
