.posts-container {
  display: grid;
  column-gap: 4px;
  row-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.container {
  max-height: 1000px;
  overflow: hidden;
  width: 100%;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: white;
  cursor: pointer;
}

.post img {
  max-height: 100%;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
