.posts-container {
  display: grid;
  column-gap: 4px;
  row-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.container {
  max-height: 1000px;
  overflow: hidden;
  width: 100%;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: white;
  cursor: pointer;
}

.no-posts {
  font-size: 18px;
  line-height: 3;
  text-align: center;
}

.post img {
  max-height: 100%;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 45vh;
}

@media (min-width: 1024px) {
  .photo {
    max-height: 100%;
  }
}
